.container {
    box-sizing: border-box;
    background-color: #000;
    min-height: 100vh;
    width: 100vw;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content {
    width: 60%;
    margin: 5rem auto 0;
    text-align: center;
}

@media only screen and (max-width: 480px) {
  .content {
      width: 90%;
      margin: 2rem auto 0;
  }
}

@media screen and (orientation: landscape) and (max-width: 640px) {
    .content {
        margin: 1.5rem auto 0;
    }
}