.description {
    display: block;
    color: #888;
    margin: 3rem 0;
}

.description strong {
    color: #fff;
}

@media only screen and (max-width: 480px) {
    .description {
        margin: 2rem 0;
    }
}