.contacts-conatiner {
    margin: 5rem 0 1rem;
}

.contacts-conatiner .contact-icon-container,
.contacts-conatiner .contact-icon-container > a {
    display: inline-block;
}

.contacts-conatiner .contact-icon-container {
    margin: 0 0.25rem;
}

.contacts-conatiner .contact-icon-container:hover {
    transform: scale(1.15);
    transition: transform 0.2s;
}

@media only screen and (max-width: 480px) {
    .contacts-conatiner {
        margin-top: 3.5rem;
    }
    .contacts-conatiner .contact-icon-container {
        transform: scale(0.9);
    }
    .contacts-conatiner .contact-icon-container:hover {
        transform: scale(1);
    }    
}